<form name="webPublisherSettings.ruleForm" class="flat">
	<div class="form__row">
		<div class="sd-line-input">
			<label class="sd-line-input__label">Name</label>
			<input class="sd-line-input__input" type="text" ng-model="newRule.name" required>
		</div>
	</div>
	<div class="form__row">
		<div class="sd-line-input">
			<label class="sd-line-input__label">Description</label>
			<input class="sd-line-input__input" type="text" ng-model="newRule.description">
		</div>
	</div>
	<div class="shadowBlock">
		<span ng-if="!newRule.id">
			<label class="form-label inlineBlock">Expression</label>
			<div class="inlineBlock pull-right">
				<label class="inlineBlock form-label">Catch all</label><span ng-model="newRule.catchAll" sd-switch=""></span>
			</div>
			<div class="form__row form__row--flex margin--bottom0"
				ng-if="!newRule.catchAll"
				ng-repeat="expression in newRule.expressions">
				<div class="form__row-item">
					<div class="sd-line-input sd-line-input--is-select margin--bottom0">
						<select class="sd-line-input__select"
							required
							ng-model="expression.option"
							ng-options="option as option.name for option in webPublisherSettings.expressionBuilder.options">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form__row-item">
					<div class="sd-line-input sd-line-input--is-select margin--bottom0">
						<select class="sd-line-input__select"
							required
							ng-disabled="!expression.option"
							ng-model="expression.operator"
							ng-options="operator.value as operator.name for operator in webPublisherSettings.expressionBuilder.operators[expression.option.type]">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form__row-item" ng-if="expression.option.name != 'Category' && expression.option.name != 'Author' && expression.option.name != 'Language' ">
					<div class="sd-line-input margin--bottom0">
						<input class="sd-line-input__input" type="text" ng-model="expression.value" ng-disabled="!expression.operator" required>
					</div>
				</div>
				<div class="form__row-item" ng-if="expression.option.name == 'Category'">
					<div class="sd-line-input sd-line-input--is-select margin--bottom0">
						<select class="sd-line-input__select"
							required
							ng-disabled="!expression.operator"
							ng-model="expression.value"
							>
							<option ng-repeat="category in webPublisherSettings.expressionBuilder.categories" value="{{category.name}}">{{category.name}}</option>
						</select>
					</div>
				</div>
				<div class="form__row-item" ng-if="expression.option.name == 'Author'">
					<div class="sd-line-input sd-line-input--is-select margin--bottom0">
							<select class="sd-line-input__select"
									required
									ng-disabled="!expression.operator"
									ng-model="expression.value"
									">
									<option ng-repeat="author in webPublisherSettings.authors" value="{{author.display_name}}">{{author.display_name}}</option>
							</select>
					</div>
			</div>
			<div class="form__row-item" ng-if="expression.option.name == 'Language'">
				<div class="sd-line-input sd-line-input--is-select margin--bottom0">
						<select class="sd-line-input__select"
								required
								ng-disabled="!expression.operator"
								ng-model="expression.value"
								">
								<option ng-repeat="lang in webPublisherSettings.languages" value="{{lang.qcode}}">{{lang.name}}</option>
						</select>
					</div>
			</div>
				<div class="form__row-item form__row-item--no-grow">
					<i class="icon-trash cursorPointer"
					ng-click="webPublisherSettings.removeRuleExpression($index)"
					ng-if="$index > 0"></i>
					<i class="iconFakeSpacer"
					ng-if="$index == 0"></i>
				</div>
			</div>

			<div class="form__row margin--top" ng-if="!newRule.catchAll">
				<button class="btn"
					ng-click="webPublisherSettings.addRuleExpression()"
					ng-disabled="!newRule.expressions[newRule.expressions.length-1].value">
					Add expression
				</button>
			</div>
		</span>
		<label class="form-label">Destination (Tenants)</label>
		<div class="sd-list-item sd-shadow--z1 margin--bottom" ng-repeat="destination in newRule.destinations">
			<div class="sd-list-item__border"></div>
			<div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
				<div class="sd-list-item__row">
					<span class="sd-overflow-ellipsis">{{destination.name}}</span>
				</div>
			</div>
			<div class="sd-list-item__action-menu">
			<button ng-click="webPublisherSettings.removeRuleDestination($index)">
				<i class="icon-trash"></i>
			</button>
			</div>
		</div>
		<div class="form__row">
			<div class="dropdown" dropdown="" dropdown-append-to-body="">
				<button class="dropdown__toggle btn btn--primary btn--icon-only-circle" dropdown__toggle="">
					<i class="icon-plus-large"></i>
				</button>
				<ul class="dropdown__menu">
					<li>
						<div class="dropdown__menu-label">Choose tenant</div>
					</li>
					<li ng-repeat="site in filteredSites = (webPublisherSettings.sites | filter:webPublisherSettings.sitesFilter)">
						<button ng-click="webPublisherSettings.addRuleDestination({name: site.name, code: site.code})">{{site.name}}</button>
					</li>
					<li ng-if="!filteredSites.length" class="dropdown__menu-item--no-link">No tenants available</li>
				</ul>
			</div>
		</div>
	</div>
</form>
