<div class="side-panel__header side-panel__header--border-b">
	<a class="icn-btn side-panel__close" ng-click="webPublisherSettings.toggleCreateRule()"><i class="icon-close-small"></i></a>
	<h3 class="side-panel__heading" ng-if="!newRule.id" translate>Add Rule</h3>
	<h3 class="side-panel__heading" ng-if="newRule.id" translate>Edit Rule</h3>
</div>

<div class="side-panel__content">
	<div class="side-panel__content-block"
		ng-include="'settings/rules/rule-add-organization.html'"
		ng-if="newRule.type=='organization'"></div>
	<div class="side-panel__content-block"
		ng-include="'settings/rules/rule-add-tenant.html'"
		ng-if="newRule.type=='tenant'"></div>
</div>


<div class="side-panel__footer side-panel__footer--button-box">
	<div class="flex-grid flex-grid--boxed-small flex-grid--wrap-items flex-grid--small-2">
		<a class="btn btn--hollow" ng-click="webPublisherSettings.toggleCreateRule()">Cancel</a>
		<button class="btn btn--primary"
			ng-disabled="webPublisherSettings.ruleForm.$invalid || !webPublisherSettings.ruleForm.$dirty"
			ng-click="webPublisherSettings.saveRule()">
			Save
		</button>
	</div>
</div>
