<ul class="sd-card__content-list">
    <li class="sd-card__content-list-item sd-card__content-list-item--no-padding"
        ng-repeat="list in contentLists"
    >
        <a href="" class="sd-card__content-list-block-link sd-overflow-ellipsis">
            {{list.name}}
        </a>
    </li>
    <div class="panel-info" ng-if="!contentLists.length">
        <div class="panel-info__icon">
            <i class="big-icon--add-to-list" ng-if="!site.outputChannel"></i>
            <i class="big-icon--web" ng-if="site.outputChannel"></i>
        </div>
        <h3 class="panel-info__heading">&nbsp;</h3>
        <p class="panel-info__description">&nbsp;</p>
    </div>
</ul>