// web-publisher.scss
// Styling for the web publisher module
// ----------------------------------------------------------------------------------------

@import "~mixins.scss";
@import "~variables.scss";
@import "uploadFix.scss";
@import "treeList.scss";
@import "listElement.scss";
@import "helperElements.scss";
@import "dragNdrop.scss";
@import "articlePreview.scss";
@import "wizardThemeBox.scss";
@import "wizardThemeDetails.scss";
@import "iconOnHover.scss";

.sd-list-item-group li + li .sd-list-item {
  border-top: 1px solid rgba(123, 123, 123, 0.2);
}
.sd-kanban-list__board--wide {
  max-width: 40rem;
}

.modal--kindafullscreen {
  position: fixed;
  left: 115px !important;
  right: 0px !important;
  top: 145px !important;
  bottom: 25px !important;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  z-index: 1050;
  display: none;
}

.modal--kindafullscreen .modal__dialog {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
}
.modal--kindafullscreen .modal__content {
  margin: 0;
}
.modal--kindafullscreen .modal__content .modal__body {
  max-width: 100% !important;
}

.listLimitNotification {
  padding: 5px;
  text-align: center;
  border-top: 2px dashed red;
  color: red;
}
.filter-type {
  display: flex;
  gap: var(--gap--small);
}
