.sp-logo-wordpress {
  display: block;
  float: right;
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  background: transparent url(../images/wordpress-icon.svg) center center
    no-repeat;
}

.sp-logo-pwa {
  display: block;
  float: right;
  margin-right: 1rem;
  width: 50px;
  height: 30px;
  background: transparent url(../images/PWA_logo.svg) center center no-repeat;
}

body[data-theme="dark-ui"] .sp-logo-pwa {
  background: transparent url(../images/PWA_logo_dark.svg) center center no-repeat;
}

.absPosition {
  position: absolute;

  &--bottomRight {
    bottom: 1rem;
    right: 1rem;
  }

  &--top {
    top: 0;
  }
}

.fixedPosition {
  position: fixed;

  &--bottomRight {
    bottom: 1rem;
    right: 1rem;
  }

  &--top {
    top: 0;
  }
}

.leftSpace {
  margin-left: 0.25em;
}

.margin {
  &--none {
    margin: 0 !important;
  }

  &--top {
    margin-top: 1em;
  }

  &--top0 {
    margin-top: 0 !important;
  }

  &--topBig {
    margin-top: 2rem !important;
  }

  &--bottom {
    margin-bottom: 1em;
  }

  &--bottomHalf {
    margin-bottom: 0.5em;
  }

  &--bottom0 {
    margin-bottom: 0;
  }

  &--right {
    margin-right: 1em;
  }

  &--left {
    margin-left: 1em;
  }
}

.padding {
  &--right0 {
    padding-right: 0;
  }
  &--bottomBig {
    padding-bottom: 4rem !important;
  }
}

.text {
  &--white {
    color: $white !important;
  }
  &--light {
    color: $gray;
  }

  &--lighter {
    color: $grayLight;
  }

  &--dark {
    color: $grayDarker;
  }

  &--green {
    color: $green;
  }

  &--red {
    color: $red;
  }

  &--italic {
    font-style: italic;
  }

  &--bold {
    font-weight: 500;
  }

  &--bolder {
    font-weight: 700;
  }

  &--thin {
    font-weight: 300;
  }

  &--normal {
    font-weight: 400;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--small {
    font-size: 0.9em;
  }

  &--smallish {
    font-size: 0.8em;
  }

  &--smaller {
    font-size: 9px;
  }

  &--smallHeading {
    font-size: 12px;
    line-height: 1em;
    margin-bottom: 0.8em;
    color: $gray;
  }

  &--strikethrough {
    text-decoration: line-through;
  }

  &--verticalMiddle {
    vertical-align: middle;
  }

  &--blue {
    color: $sd-blue;
  }

  &--keyword {
    color: $sd-keyword;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left !important;
  }

  &--right {
    text-align: right !important;
  }
}

.inlineBlock {
  display: inline-block;
}

.cursorPointer {
  cursor: pointer;
}

.iconButton {
  border: none;
  background: none;
  padding: 0;
}

.relative {
  position: relative;
}

.overflow-auto {
  overflow: auto;
}
.overflow-initial {
  overflow: initial;
}

.fadeElement {
  animation-name: fadeOpacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

option:disabled,
select[disabled] > option {
  color: rgb(180, 180, 180);
}

.flexGrow {
  flex-grow: 1;
}

.sp-manage-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.85);
  z-index: 1000;
}

.draggable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;

  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.dndDragging .draggable {
  cursor: move;
}


.sp-listSerialNumberMinWidth {
  min-width: 1.2em;
  text-align: center;
}

.sp-imageMaxWidth-wrapper img,
.sp-imageMaxWidth-wrapper .embed-block,
.sp-imageMaxWidth-wrapper iframe {
  max-width: 100%;
}

.sp-bottomBarMargin {
  margin-bottom: 3rem;
}
.codeBlock {
  padding: 4px 9px;
  margin: 2rem 0;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--sd-item__main-Bg);
  border-radius: 3px;
  line-height: 140%;
  font-family: "Courier New", Courier, monospace;
}
.authoring {
  .ui-responsive-medium {
    .if-authoring--d-none {
      display: none;
    }
  }
  .sd-page-content__content-block {
    width: auto;
  }
}
