

.sp-logo-wordpress {
    display: block;
    float: right;
    margin-right: 1rem;
    width: 30px;
    height: 30px;
    background: transparent url(../images/wordpress-icon.svg) center center no-repeat;
}

.absPosition {
    position: absolute;

    &--bottomRight {
        bottom: 1rem;
        right: 1rem;
    }

    &--top {
        top: 0;
    }
}

.margin {
    &--none {
        margin: 0!important;
    }

    &--top {
        margin-top: 1em;
    }

    &--top0 {
        margin-top: 0 !important;
    }

    &--topBig {
        margin-top: 2rem!important;
    }

    &--bottom {
        margin-bottom: 1em;
    }

    &--bottomHalf {
        margin-bottom: .5em;
    }

    &--bottom0 {
        margin-bottom: 0;
    }

    &--right {
        margin-right: 1em;
    }

    &--left {
        margin-left: 1em;
    }
}

.padding {
    &--right0 {
        padding-right: 0;
    }
    &--bottomBig {
        padding-bottom: 4rem !important;
    }
}

.text {
    &--white {
        color: $white !important;
    }
    &--light {
        color: $gray;
    }

    &--lighter {
        color: $grayLight;
    }

    &--dark {
        color: $grayDarker;
    }

    &--green {
        color: $green;
    }

    &--red {
        color: $red;
    }

    &--italic {
        font-style: italic;
    }

    &--bold {
        font-weight: 500;
    }

    &--bolder {
        font-weight: 700;
    }

    &--thin {
        font-weight: 300;
    }

    &--normal {
        font-weight: 400;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--small {
        font-size: .9em;
    }

    &--smallish {
        font-size: .8em;
    }

    &--smaller {
        font-size: 9px;
    }

    &--smallHeading {
        font-size: 12px;
        line-height: 1em;
        margin-bottom: .8em;
        color: $gray;
    }

    &--strikethrough {
        text-decoration: line-through;
    }

    &--verticalMiddle {
        vertical-align: middle;
    }

    &--blue {
        color: $sd-blue;
    }

    &--keyword {
        color: $sd-keyword;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left !important;
    }

    &--right {
        text-align: right !important;
    }
}

.inlineBlock {
    display: inline-block;
}

.iconButton {
    border: none;
    background: none;
    padding: 0;
}

.relative {
    position: relative;
}

.overflow-auto {
    overflow: auto;
}

.fadeElement {
    animation-name: fadeOpacity;
    animation-duration: 2s;
    animation-iteration-count:1;
    animation-timing-function: ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes fadeOpacity {
    from {opacity:0}
    to {opacity: 1}
}