.listElement {
    border: 1px solid var(--sd-colour-line--light);
    border-left: 4px solid hsl(199, 18%, 37%);
    border-top: 0;
    padding: 12px 5px 12px 15px;
    background-color: var(--sd-item__main-Bg);
    position: relative;
    display: flex;
    align-items: center;

    &--noBorder {
        border: none;
        margin-top: 2px;
    }

    &--borderPublished {
        border-left: 4px solid $green;
    }

    &--borderUnpublished {
        border-left: 4px solid $red;
    }

    &--noLeftBorder {
        border-left: 1px solid var(--sd-colour-line--light);
    }

    &--bold {
        font-weight: 700;
    }

    &:hover button.hidden {
        opacity: 0.4;
    }

    .listElement__icon {
        flex: 0 0 auto;
        display: inline-block;
        margin-right: 10px;
        line-height: 1em;
        margin-top: 2px;
        align-items: center;

        &:hover i {
            color: var(--sd-colour-interactive);
        }

        &.listElement__icon--active {
            i {
                color: var(--sd-colour-interactive);
            }

            &:hover i {
                color: var(--sd-colour-interactive);
            }
        }
    }

    .listElement__content {
        width: 100%;
        color: var(--color-text);
        button {
            border: 0;
            background: none;
            line-height: 0;

            &.hidden {
                opacity: 0;
                &:hover {
                    opacity: 1;
                }
            }
        }

        .pin {
            display: none;
            opacity: 0.4;
        }
    }



    .countLabel {
        margin-right: 10px;
    }

    &:hover button {
        display: inline-block;
    }
}

.listElement__right {
    flex: 0 0 auto;
    align-items: center;
    .dropdown__toggle {
        opacity: .3;
    }
    &:hover {
        .dropdown__toggle {
            opacity: 1;
        }
    }
}