.wizardThemeDetails {
    z-index: 1;
    overflow: hidden;
    margin: -2rem;
}
.wizardThemeDetails__header {
    padding: 1.2rem;
    border-bottom: 1px solid #e4e4e4;
    min-height: 48px;
    .icn-btn:disabled {
        opacity: .2;
        cursor: not-allowed;
    }
}
.wizardThemeDetails__content {
    overflow-y: auto;
    padding: 2rem 0;
}