.wizardThemeBox {
    background-color: var(--sd-item__main-Bg);
    position: relative;
    border: 2px solid var(--sd-item__main-Bg);
    border-radius: var(--b-radius--medium);
    &--active {
        background-color: var(--sd-colour-interactive);
        border: 2px solid var(--sd-colour-interactive);
        color: $white;
    }

    .wizardThemeBox__image {
        width: 100%;
        border-radius: var(--b-radius--medium);
        overflow: hidden;
        img {
            display: block;
            object-fit: cover;
            height: 186px;
            width: 100%;
        }
    }
    .wizardThemeBox__name {
        display: block;
        text-align: center;
        line-height: 2.5em;
    }
    .wizardThemeBox__overlay {
        opacity: 0;
        border-radius: var(--b-radius--medium);
        background-color: var(--sd-colour-overlay-actioning);
        position: absolute;
        inset: 0;
        transition: opacity .2s linear;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
    }

    &:hover &__overlay {
        opacity: 1;
    }

    &.wizardThemeBox--upload {
        height: 222px;
        background: none;
        border: none;

        .drag-area {
            inset: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
            transition: all 0.2s ease;
            border: 2px dashed var(--sd-colour-line--medium) !important;
            border-radius: var(--b-radius--medium);

            &.dragover {
                border: 2px dashed var(--sd-colour-interactive) !important;
                background-color: var(--sd-colour-interactive--alpha-10);
            }
            .title {
                width: auto;
                height: auto;
                position: initial;
                margin: 0;
                background: none;
                padding: 0;
                line-height: 120%;
            }
            .upload-manual {
                position: initial;
                margin-top: 2rem;
                margin-left: 0;

                .btn {
                    height: 3.2rem;
                }
            }
        }
    }
}
