<div class="sd-page__header">
  <ul class="filter-type sd-margin-r--2">
    <li
      class="filter-type__item"
      ng-class="{'filter-type__item--active': webPublisherSettings.routeType === ''}"
    >
      <a ng-click="webPublisherSettings.changeRouteFilter('')" translate>all</a>
    </li>
    <li
      class="filter-type__item"
      ng-class="{'filter-type__item--active': webPublisherSettings.routeType === 'collection'}"
    >
      <a
        ng-click="webPublisherSettings.changeRouteFilter('collection')"
        translate
        >collection</a
      >
    </li>
    <li
      class="filter-type__item"
      ng-class="{'filter-type__item--active': webPublisherSettings.routeType === 'content'}"
    >
      <a ng-click="webPublisherSettings.changeRouteFilter('content')" translate
        >content</a
      >
    </li>
  </ul>
  <span class="sd-page__element-grow"></span>
  <div class="dropdown sd-margin-l--auto">
    <button
      class="btn btn--primary ng-binding"
      ng-click="webPublisherSettings.toggleCreateRoute(true)"
    >
      <i class="icon-plus-sign icon--white"></i>Add New
    </button>
  </div>
</div>

<div
  class="sd-page-content__content-block sd-page-content__content-block--main relative"
  ng-class="{'open-preview': webPublisherSettings.paneOpen}"
>
  <div class="sd-loader" ng-if="loading"></div>
  <div class="sd-column-box--3">
    <div class="sd-column-box__main-column">
      <ul
        class="treeList sd-list-item-group"
        dnd-list="routes.children"
        dnd-drop="webPublisherSettings.reorderRoute(routes, item, index)"
      >
        <li
          ng-repeat="route in routes.children"
          dnd-draggable="route"
          dnd-dragstart="route.dragging = true"
          dnd-dragend="route.dragging = false"
          ng-hide="route.dragging"
          ng-include="'settings/website-management/partials/routes-tree.html'"
          class="draggable"
        ></li>
      </ul>
    </div>
    <div class="sd-preview-panel">
      <div
        class="side-panel side-panel--shadow-right"
        ng-include="'settings/website-management/route-form.html'"
      ></div>
    </div>
  </div>
</div>
