<div class="subnav subnav--padded subnav--lower-z-index">
    <h3 class="sd-content-nav-title sd-content-nav-title--uppercase">Website</h3>
</div>
<nav class="sd-content-nav">
    <ul>
        <li ng-repeat="site in sites | orderBy: 'name'" ng-click="webPublisherSettings.cancelEditSite()">
            <a href="" ng-click="webPublisherSettings.editSite(site)"
                class="sd-content-nav__btn"
                ng-class="{'sd-content-nav__btn--active': site.code === webPublisherSettings.selectedSite.code}">
                {{ site.name }}
            </a>
        </li>
    </ul>
</nav>
