<div class="sd-page__header">
  <ul class="filter-type sd-margin-r--2">
    <li>
      <a 
        class="toggle-button"
        ng-class="{'toggle-button--active': webPublisherSettings.routeType === ''}"
        ng-click="webPublisherSettings.changeRouteFilter('')" translate
        >all</a>
    </li>
    <li>
      <a
        class="toggle-button"
        ng-class="{'toggle-button--active': webPublisherSettings.routeType === 'collection'}"
        ng-click="webPublisherSettings.changeRouteFilter('collection')"
        translate
        >collection</a
      >
    </li>
    <li>
      <a
        class="toggle-button"
        ng-class="{'toggle-button--active': webPublisherSettings.routeType === 'content'}"
        ng-click="webPublisherSettings.changeRouteFilter('content')" translate
        >content</a
      >
    </li>
  </ul>
  <span class="sd-page__element-grow"></span>
  <div class="dropdown sd-margin-l--auto" dropdown="">
    <button class="btn btn--primary ng-binding" dropdown__toggle="">
      <i class="icon-plus-sign icon--white"></i>Add New
    </button>
    <ul class="dropdown__menu dropdown--align-right">
      <li>
        <button
          ng-click="webPublisherSettings.toggleCreateRoute(true, 'collection')"
        >
          Collection
        </button>
      </li>
      <li>
        <button
          ng-click="webPublisherSettings.toggleCreateRoute(true, 'content')"
        >
          Content
        </button>
      </li>
      <li>
        <button
          ng-click="webPublisherSettings.toggleCreateRoute(true, 'custom')"
        >
          Custom
        </button>
      </li>
    </ul>
  </div>
</div>

<div
  class="sd-page-content__content-block sd-page-content__content-block--main relative"
  ng-class="{'open-preview': webPublisherSettings.paneOpen}"
>
  <div class="sd-loader" ng-if="loading"></div>
  <div class="sd-column-box--3">
    <div class="sd-column-box__main-column">
      <ul
        class="treeList sd-list-item-group"
        dnd-list="routes.children"
        dnd-drop="webPublisherSettings.reorderRoute(routes, item, index)"
      >
        <li
          ng-repeat="route in routes.children"
          dnd-draggable="route"
          dnd-dragstart="route.dragging = true"
          dnd-dragend="route.dragging = false"
          ng-hide="route.dragging"
          ng-include="'settings/website-management/partials/routes-tree.html'"
          class="draggable"
        ></li>
      </ul>
    </div>
    <div class="sd-preview-panel">
      <div
        class="side-panel side-panel--shadow-right"
        ng-include="'settings/website-management/route-form.html'"
      ></div>
    </div>
  </div>
</div>
