<div class="side-panel__header side-panel__header--border-b">
  <a
    class="icn-btn side-panel__close"
    ng-click="webPublisherSettings.toggleCreateRoute(false)"
    ><i class="icon-close-small"></i
  ></a>
  <h3
    class="side-panel__heading"
    ng-if="webPublisherSettings.isObjEmpty(webPublisherSettings.selectedRoute)"
    translate
  >
    Add {{newRoute.type}} route
  </h3>
  <h3
    class="side-panel__heading"
    ng-if="!webPublisherSettings.isObjEmpty(webPublisherSettings.selectedRoute)"
  >
    <span translate>Edit</span> {{newRoute.type}} <span translate>route</span>
  </h3>
</div>

<div class="side-panel__content">
  <div class="side-panel__content-block">
    <div class="sd-alert sd-alert--hollow" ng-if="newRoute.redirect_route">
      <Icon name="random" />
      <p className="sd-margin-l--1">
        <span translate>This Route has redirect set to</span>
        {{newRoute.redirect_route.route_target.name}}. <span translate>Details on</span>:
        <a
          className="text-link"
          href=""
          style="cursor: pointer"
          ng-click="webPublisherSettings.changeManageTab('redirects')"
          translate
          >Redirects tab</a
        >
      </p>
    </div>
    <form name="webPublisherSettings.routeForm" class="flat">
      <fieldset class="label-light">
        <div class="item">
          <label for="routeName" translate>name</label>
          <input
            type="text"
            class="line-input"
            id="routeName"
            ng-model="newRoute.name"
            required
          />
        </div>

        <div class="item">
          <label for="routeDescription" translate>description</label>
          <input
            type="text"
            class="line-input"
            id="routeDescription"
            ng-model="newRoute.description"
          />
        </div>

        <div
          class="item"
          ng-class="{'sd-line-input sd-line-input--invalid': newRoute.id}"
        >
          <label for="routeSlug" translate>slug</label>
          <input
            type="text"
            class="line-input"
            id="routeSlug"
            ng-model="newRoute.slug"
          />
          <div ng-if="newRoute.id" class="sd-line-input__message" translate>
            Beware than changing slug will affect article urls and may cause SEO
            issues.
          </div>
        </div>
        <div class="item" ng-if="newRoute.type === 'custom'">
          <label for="variableName" translate>variable name</label>
          <input
            type="text"
            class="line-input"
            id="variableName"
            ng-model="newRoute.variableName"
          />
        </div>
        <div class="item" ng-if="newRoute.type !== 'custom'">
          <label for="routeParent" translate>parent</label>
          <select
            id="routeParent"
            class="dropdown__toggle line-input"
            ng-model="newRoute.parent"
            ng-options="route.id as route.name for route in routes_flat | filter: {id: newRoute.id ? '!' + newRoute.id : ''}"
          >
            <option value=""></option>
          </select>
        </div>
        <div class="item">
          <span ng-model="newRoute.paywall_secured" sd-switch=""></span
          ><label translate>Paywall secured</label>
        </div>
        <div class="item">
          <label for="routeTemplate" translate>template name</label>
          <input
            type="text"
            class="line-input"
            id="routeTemplate"
            ng-model="newRoute.template_name"
          />
        </div>
        <div class="item" ng-if="newRoute.type === 'collection'">
          <label for="articleTemplate" translate>article template name</label>
          <input
            type="text"
            class="line-input"
            id="articleTemplate"
            ng-model="newRoute.articles_template_name"
          />
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="side-panel__footer side-panel__footer--button-box">
  <div
    class="flex-grid flex-grid--boxed-small flex-grid--wrap-items flex-grid--small-2"
  >
    <a
      class="btn btn--hollow"
      ng-click="webPublisherSettings.toggleCreateRoute(false)"
      translate
      >Cancel</a
    >
    <button
      class="btn btn--primary"
      ng-disabled="webPublisherSettings.routeForm.$invalid || !webPublisherSettings.routeForm.$dirty"
      ng-click="webPublisherSettings.saveRoute()"
      translate
    >
      Save
    </button>
  </div>
</div>
