
<div class="sd-loader" ng-if="loading"></div>
       <div class="sd-column-box--2">
            <div class="sd-column-box__main-column sd-page__content padding--bottomBig">
                <div class="panel-info" ng-if="!webPublisherSettings.organizationRules.length">
                    <div class="panel-info__icon">
                        <i class="big-icon--comments"></i>
                    </div>
                    <h3 class="panel-info__heading">No rules so far.</h3>
                    <p class="panel-info__description">Be the first one...</p>
                </div>
                <div ng-if="webPublisherSettings.organizationRules.length">
                    <div class="sd-list-header margin--none margin--topBig">
                        <span class="sd-list-header__name">Organization Rules</span>
                    </div>
                    <div ng-repeat="rule in webPublisherSettings.organizationRules track by $index"
                        ng-include="'settings/rule-item.html'">
                    </div>

                    <div ng-repeat="(code, rules) in webPublisherSettings.tenantsRules">
                        <div class="sd-list-header margin--none margin--topBig">
                            <span class="sd-list-header__name flexGrow">{{webPublisherSettings.getTenantNameByCode(code)}} Rules</span>
                            <span class="text--uppercase text--blue text--smaller"
                                ng-if="webPublisherSettings.getTenantOutputChannelNameByCode(code)">
                                {{webPublisherSettings.getTenantOutputChannelNameByCode(code)}}
                            </span>
                        </div>
                        <div ng-repeat="rule in rules track by $index"
                            ng-include="'settings/rule-item.html'">
                        </div>
                    </div>
                </div>
            </div>
            <div class="sd-preview-panel">
                <div class="side-panel side-panel--shadow-right">
                    <span ng-include="'settings/rule-preview.html'" ng-if="webPublisherSettings.rulePreviewOpen"></span>
                    <span ng-include="'settings/rule-add.html'" ng-if="webPublisherSettings.rulePaneOpen"></span>
                </div>
            </div>
        </div>

