<div class="paneContent__header">
	<h3 class="pull-left" translate ng-if="!newRule.id">Add Rule</h3>
	<h3 class="pull-left" translate ng-if="newRule.id">Edit Rule</h3>
	<div class="pull-right">
		<button class="btn" ng-click="webPublisherSettings.toggleCreateRule()" translate>Cancel</button>
		<button class="btn btn--primary"
		ng-disabled="webPublisherSettings.ruleForm.$invalid || !webPublisherSettings.ruleForm.$dirty"
		ng-click="webPublisherSettings.saveRule()" translate>Save</button>
	</div>
</div>
<div class="paneContent__content contentPadding contentPadding--extraBottom"
	ng-include="'settings/rule-add-organization.html'"
	ng-if="newRule.type=='organization'">
</div>
<div class="paneContent__content contentPadding contentPadding--extraBottom"
	ng-include="'settings/rule-add-tenant.html'"
	ng-if="newRule.type=='tenant'">
</div>
