<div class="side-panel side-panel--transparent side-panel--shadow-right">
    <div class="side-panel__header side-panel__header--border-b">
            <a class="icn-btn side-panel__close" sd-tooltip="Close filters" flow="left" ng-click="webPublisherAnalytics.leftFilterOpen = !webPublisherAnalytics.leftFilterOpen"><i class="icon-close-small"></i></a>
        <h3 class="side-panel__heading side-panel__heading--big">Filter</h3>
    </div>
    <div class="side-panel__content">
        <div class="side-panel__content-block">
            <div class="form__row">
                <div class="sd-line-input sd-line-input--no-margin">
                    <sd-tag-input
                        ng-if="webPublisherAnalytics.routes"
                        ng-model="webPublisherAnalytics.advancedFilters.routes"
                        data-label="Category"
                        data-items="webPublisherAnalytics.routes"
                        data-field="name"
                        data-freetext="false" >
                        <tags-input
                            ng-model="model"
                            add-from-autocomplete-only="{{items ? !freetext : false}}"
                            show-button="{{!!items}}"
                            display-property="{{field}}"
                            use-strings="{{!field}}"
                        ></tags-input>
                    </sd-tag-input>
                </div>
            </div>
            <div class="form__row">
                <div class="sd-line-input sd-line-input--no-margin">
                    <sd-tag-input ng-model="webPublisherAnalytics.advancedFilters.author" data-label="Authors">
                        <tags-input ng-model="model" add-from-autocomplete-only="{{items ? !freetext : false}}" show-button="{{!!items}}" display-property="{{field}}" use-strings="{{!field}}"></tags-input>
                    </sd-tag-input>
                </div>
            </div>
            <div class="form__row form__row--flex">
                <div class="sd-line-input sd-line-input--no-margin">
                    <label class="sd-line-input__label">Published after</label>
                    <div sd-datepicker data-format="YYYY-MM-DD" name="published_after" id="published_after" ng-model="webPublisherAnalytics.advancedFilters.published_after"></div>
                </div>
            </div>
            <div class="form__row form__row--flex">
                <div class="sd-line-input sd-line-input--no-margin">
                    <label class="sd-line-input__label">Published before</label>
                    <div sd-datepicker data-format="YYYY-MM-DD" name="published_before" id="published_before" ng-model="webPublisherAnalytics.advancedFilters.published_before"></div>
                </div>
            </div>
            <div class="form__row sd-margin-b--2">
                <span class="sd-check__wrapper" ng-click="webPublisherAnalytics.setDay('yesterday')">
                    <span class="sd-checkbox sd-checkbox--button-style" ng-class="{'checked': webPublisherAnalytics.isDay('yesterday') }"><label>Yesterday</label></span>
                </span>
                <span class="sd-check__wrapper" ng-click="webPublisherAnalytics.setDay('today')">
                    <span class="sd-checkbox sd-checkbox--button-style" ng-class="{'checked': webPublisherAnalytics.isDay('today') }"><label>Today</label></span>
                </span>

            </div>
        </div>
    </div>
    <div class="side-panel__footer side-panel__footer--button-box">
        <div class="flex-grid flex-grid--boxed-small flex-grid--small-2">
            <a class="btn btn--hollow" ng-click="webPublisherAnalytics.advancedFilters = {}; webPublisherAnalytics.filter();" >Clear</a>
            <a class="btn btn--primary" ng-click="webPublisherAnalytics.filter()" >Filter</a>
        </div>
    </div>
</div>