
<div class="sd-list-item-group sd-shadow--z2"
    infinite-scroll="loadArticles()"
    infinite-scroll-disabled="!loadedFilters"
    infinite-scroll-parent="true"
>
    <div class="sd-list-item"
        ng-class="{'sd-list-item--activated':webPublisherOutput.selectedArticle.id === i.id, 'fadeElement' : i.animate}"
        ng-click="webPublisherOutput.openPreview(i); $event.stopPropagation();"
        ng-dblclick="webPublisherOutput.openPublish(i, 'publish'); $event.stopPropagation();"
        ng-repeat="i in articlesList">
        <div class="sd-list-item__border"></div>
        <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
            <div class="sd-list-item__row">
                <span class="sd-overflow-ellipsis sd-list-item__headline">{{i.headline}}</span>
                <time ng-if="i.updatedAt" title="{{i.updatedAt}}">{{i.updatedAt | reldate}}</time>
                <time ng-if="!i.updatedAt" title="{{i.createdAt}}">{{i.createdAt | reldate}}</time>
            </div>
            <div class="sd-list-item__row sd-list-item__row--wrap">
                <span class="sd-text-icon sd-margin-r--1" ng-repeat="item in i.extra_items" ng-if="item.type==='media'">
                    <i class="icon-slideshow sd-opacity--40"></i>{{item.items.length}}
                </span>
                <span class="label label--hollow" ng-repeat="service in i.service">{{service.name}}</span>
                <span ng-if="i.version > 1" class="label label--darkBlue2 label--hollow">update {{i.version}}</span>
                <span class="sd-overflow-ellipsis sd-list-item--element-grow">
                    <span ng-if="rootType === 'incoming'" class="sd-overflow-ellipsis sd-list-item--element-grow">{{i.byline}}</span>
                    <span ng-if="rootType === 'published' && i.pageviewsCount" class="sd-list-item__text-label sd-margin-l--1">pageviews:</span><span ng-if="rootType === 'published' && i.pageviewsCount">{{i.pageviewsCount}}</span>
                    <span ng-if="rootType === 'published' && i.commentsCount" class="sd-list-item__text-label sd-margin-l--1">comments:</span><span ng-if="rootType === 'published' && i.commentsCount">{{i.commentsCount}}</span>
                </span>
                <span ng-if="i.articles[0] && i.articles[0].paywallSecured" class="sd-list-item__inline-text ml-auto no-line-height" sd-tooltip="Paywall secured" flow="left"><i class="icon-paywall icon--orange icon--full-opacity"></i></span>
                <span class="label"
                    ng-repeat="item in i.articles | orderBy:'-status' | limitTo:3"
                    ng-class="{'label--success': item.status == 'published', 'label--alert': item.status == 'unpublished'}"
                >
                    {{item.tenant.name}}
                </span>
                <span ng-if="i.articles.length - 3 > 0">+{{i.articles.length - 3}} more</span>
            </div>
        </div>
        <div class="sd-list-item__action-menu sd-list-item__action-menu--direction-row">
            <button sd-tooltip="Remove" class="icn-btn" ng-if="rootType === 'incoming'" ng-click="webPublisherOutput.removeArticle(i); $event.stopPropagation();"><i class="icon-trash"></i></button>
            <button sd-tooltip="Correct" class="icn-btn" ng-click="webPublisherOutput.correctArticle(i); $event.stopPropagation();"><i class="icon-pencil"></i></button>
            <button sd-tooltip="Publish" class="icn-btn" ng-click="webPublisherOutput.openPublish(i, 'publish'); $event.stopPropagation();"><i class="icon-expand-thin"></i></button>
        </div>
    </div>

    <div ng-if="loadingArticles" class="item-group__loading" style="margin-left: auto; margin-right: auto; line-height: 38px; height: 38px; text-align: center;"></div>
</div>

<div class="panel-info" ng-if="!loadingArticles && !articlesList.length">
    <div class="panel-info__icon">
        <i class="big-icon--text"></i>
    </div>
    <h3 class="panel-info__heading">No {{rootType}} articles.</h3>
</div>