<div class="side-panel">
  <div class="side-panel__header">
    <a
      class="icn-btn sd-margin-l--1"
      ng-click="webPublisherOutput.toggleMetaDataOverlay()"
      sd-tooltip="Back"
      flow="right"
      ><i class="icon-arrow-left"></i
    ></a>
    <h3 class="side-panel__heading side-panel__heading--big">
      {{ webPublisherOutput.metaDataOverlayType }} meta data
    </h3>
  </div>
  <div class="side-panel__content">
    <!-- Facebook -->
    <div
      class="side-panel__content-block"
      ng-if="webPublisherOutput.metaDataOverlayType === 'Facebook'"
    >
      <div class="form__row">
        <div class="sd-line-input">
          <label class="sd-line-input__label">Post image</label>
          <div
            class="sd-overlay-block"
            ng-class="{'sd-overlay-block--no-image': !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.og_media_url}"
          >
            <div class="sd-overlay-block__overlay">
              <div class="sd-overlay-block__overlay-action-group">
                <label
                  for="og_media_file"
                  class="sd-overlay-block__overlay-action"
                  sd-tooltip="Upload image"
                  ><i class="icon-upload"></i
                ></label>
                <span
                  ng-if="!webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.og_media_url"
                  class="sd-overlay-block__overlay-message"
                >
                  No image has been set so far.
                </span>
              </div>
            </div>
            <div
              ng-if="webPublisherOutput.metaMediaUploading"
              style="position: absolute; display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; background-color: rgba(0,0,0, 0.5)"
            >
              <div class="sd-loader"></div>
            </div>
            <img
              ng-if="webPublisherOutput.metaDataSelectedDestination.seo_metadata._links && webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.og_media_url"
              ng-src="{{
                webPublisherOutput.metaDataSelectedDestination.seo_metadata
                  ._links.og_media_url.href
              }}"
            />
            <input
              id="og_media_file"
              type="file"
              ngf-select="webPublisherOutput.uploadMetaImage($files, 'og_media_file')"
              class="hide"
            />
          </div>
        </div>
      </div>
      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Title</label>
          <input
            class="sd-line-input__input"
            type="text"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.og_title"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          />
        </div>
      </div>

      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Description</label>
          <textarea
            class="sd-line-input__input"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.og_description"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- twitter -->
    <div
      class="side-panel__content-block"
      ng-if="webPublisherOutput.metaDataOverlayType === 'Twitter'"
    >
      <div class="form__row">
        <div class="sd-line-input">
          <label class="sd-line-input__label">Post image</label>
          <div
            class="sd-overlay-block"
            ng-class="{'sd-overlay-block--no-image': !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.twitter_media_url}"
          >
            <div class="sd-overlay-block__overlay">
              <div class="sd-overlay-block__overlay-action-group">
                <label
                  for="twitter_media_file"
                  class="sd-overlay-block__overlay-action"
                  sd-tooltip="Upload image"
                  ><i class="icon-upload"></i
                ></label>
                <span
                  ng-if="!webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.twitter_media_url"
                  class="sd-overlay-block__overlay-message"
                >
                  No image has been set so far.
                </span>
              </div>
            </div>
            <div
              ng-if="webPublisherOutput.metaMediaUploading"
              style="position: absolute; display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; background-color: rgba(0,0,0, 0.5)"
            >
              <div class="sd-loader"></div>
            </div>
            <img
              ng-if="webPublisherOutput.metaDataSelectedDestination.seo_metadata._links && webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.twitter_media_url"
              ng-src="{{
                webPublisherOutput.metaDataSelectedDestination.seo_metadata
                  ._links.twitter_media_url.href
              }}"
            />
            <input
              id="twitter_media_file"
              type="file"
              ngf-select="webPublisherOutput.uploadMetaImage($files, 'twitter_media_file')"
              class="hide"
            />
          </div>
        </div>
      </div>
      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Title</label>
          <input
            class="sd-line-input__input"
            type="text"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.twitter_title"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          />
        </div>
      </div>

      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Description</label>
          <textarea
            class="sd-line-input__input"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.twitter_description"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          ></textarea>
        </div>
      </div>
    </div>

    <!-- seo -->
    <div
      class="side-panel__content-block"
      ng-if="webPublisherOutput.metaDataOverlayType === 'SEO'"
    >
      <div class="form__row">
        <div class="sd-line-input">
          <label class="sd-line-input__label">Post image</label>
          <div
            class="sd-overlay-block"
            ng-class="{'sd-overlay-block--no-image': !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.meta_media_url}"
          >
            <div class="sd-overlay-block__overlay">
              <div class="sd-overlay-block__overlay-action-group">
                <label
                  for="meta_media_file"
                  class="sd-overlay-block__overlay-action"
                  sd-tooltip="Upload image"
                  ><i class="icon-upload"></i
                ></label>
                <span
                  ng-if="!webPublisherOutput.metaDataSelectedDestination.seo_metadata._links || !webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.meta_media_url"
                  class="sd-overlay-block__overlay-message"
                >
                  No image has been set so far.
                </span>
              </div>
            </div>
            <div
              ng-if="webPublisherOutput.metaMediaUploading"
              style="position: absolute; display: flex; width: 100%; height: 100%; align-items: center; justify-content: center; background-color: rgba(0,0,0, 0.5)"
            >
              <div class="sd-loader"></div>
            </div>
            <img
              ng-if="webPublisherOutput.metaDataSelectedDestination.seo_metadata._links && webPublisherOutput.metaDataSelectedDestination.seo_metadata._links.meta_media_url"
              ng-src="{{
                webPublisherOutput.metaDataSelectedDestination.seo_metadata
                  ._links.meta_media_url.href
              }}"
            />
            <input
              id="meta_media_file"
              type="file"
              ngf-select="webPublisherOutput.uploadMetaImage($files, 'meta_media_file')"
              class="hide"
            />
          </div>
        </div>
      </div>
      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Title</label>
          <input
            class="sd-line-input__input"
            type="text"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.meta_title"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          />
        </div>
      </div>

      <div class="form__row">
        <div class="sd-line-input sd-line-input--dark-ui sd-line-input--boxed">
          <label class="sd-line-input__label">Description</label>
          <textarea
            class="sd-line-input__input"
            ng-model="webPublisherOutput.metaDataSelectedDestination.seo_metadata.meta_description"
            ng-change="webPublisherOutput.debouncedSaveMetadata(); $event.stopPropagation();"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
