<div class="side-panel side-panel--shadow-right">
    <div class="side-panel__header side-panel__header--border-bottom">
        <div class="side-panel__tools">
            <a class="icn-btn" sd-tooltip="Close details" flow="top" ng-click="webPublisherOutput.closePreview()">
                <i class="icon-close-small"></i>
            </a>
        </div>
        <h3 class="side-panel__heading">Item preview</h3>
    </div>

    <div class="side-panel__content">
        <div class="side-panel-collapsible-header" ng-class="{'active': collapsibleHeaderOpen}" ng-init="collapsibleHeaderOpen = true">
            <div class="side-panel-collapsible-header__fixed">
                <p class="sd-text__date-and-author">
                    <time ng-if="webPublisherOutput.selectedArticle.updated_at" title="{{webPublisherOutput.selectedArticle.updated_at}}">{{webPublisherOutput.selectedArticle.updated_at | reldate}}</time>
                    <time ng-if="!webPublisherOutput.selectedArticle.updated_at" title="{{webPublisherOutput.selectedArticle.created_at}}">{{webPublisherOutput.selectedArticle.created_at | reldate}}</time>
                </p>
                <span class="btn-icon-group">
                    <button sd-tooltip="Correct" flow="down" class="icn-btn" ng-click="webPublisherOutput.correctArticle(webPublisherOutput.selectedArticle); $event.stopPropagation();">
                        <i class="icon-pencil"></i>
                    </button>
                    <button sd-tooltip="Publish" flow="down" class="icn-btn" ng-click="webPublisherOutput.openPublish(webPublisherOutput.selectedArticle, 'publish'); $event.stopPropagation();">
                        <i class="icon-expand-thin"></i>
                    </button>
                </span>
            </div>
            <div class="side-panel-collapsible-header__collapsible">
                <div class="form__row" ng-if="webPublisherOutput.selectedArticle.articles[0] && webPublisherOutput.selectedArticle.articles[0].paywall_secured">
                    <span class="label-icon label-icon--warning">
                        <i class="icon-paywall"></i> Paywall secured</span>
                </div>
                <div class="form__row form__row--small-padding" ng-if="(webPublisherOutput.selectedArticle.articles|filter:{status: 'published'} : true).length">
                    <label>Published to:</label>
                    <div>
                        <a ng-repeat="item in webPublisherOutput.selectedArticle.articles | filter: { status: 'published' } : true" ng-href="{{item.live_url}}"
                            target="_blank" style="margin-right: .6em" class="label label--success cursorPointer">{{item.tenant.name}} / {{item.route.name}}</a>
                    </div>
                </div>
                <div class="form__row form__row--small-padding" ng-if="(webPublisherOutput.selectedArticle.articles|filter:{status: 'new'} : true).length">
                    <label>Sent to:</label>
                    <div>
                        <span ng-repeat="item in webPublisherOutput.selectedArticle.articles | filter: { status: 'new' } : true" class="label" style="margin-right: .6em">{{item.tenant.name}}
                            <span ng-if="item.route.name"> / {{item.route.name}}</span>
                        </span>
                    </div>
                </div>
                <div class="form__row form__row--small-padding" ng-if="(webPublisherOutput.selectedArticle.articles|filter:{status: 'unpublished'} : true).length">
                    <label>Unpublished from:</label>
                    <div>
                        <span ng-repeat="item in webPublisherOutput.selectedArticle.articles | filter: { status: 'unpublished' } : true" class="label label--alert"
                            style="margin-right: .6em">{{item.tenant.name}}
                            <span ng-if="item.route.name"> / {{item.route.name}}</span>
                        </span>
                    </div>
                </div>
                <div ng-if="webPublisherOutput.selectedArticle.status !== 'new'" class="form__row form__row--small-padding">
                    <div class="flex-grid flex-grid--wrap-items flex-grid--small-2">
                        <div class="flex-grid__item">
                            <label class="form-label form-label--light">Page views</label>
                            <p>{{webPublisherOutput.selectedArticle.pageviewsCount}}</p>
                        </div>
                        <div class="flex-grid__item">
                            <label class="form-label form-label--light">Comments</label>
                            <p>{{webPublisherOutput.selectedArticle.comments_count}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="side-panel-collapsible-header__toggle active" ng-class="{'active': collapsibleHeaderOpen}" ng-click="collapsibleHeaderOpen = !collapsibleHeaderOpen">
                <i class="icon-chevron-down-thin"></i>
            </button>
        </div>

        <div class="side-panel__content-block">
            <h3 class="side-panel__content-block-heading">{{webPublisherOutput.selectedArticle.headline}}</h3>
            <img ng-if="webPublisherOutput.selectedArticle.articles[0].feature_media && webPublisherOutput.selectedArticle.articles[0].feature_media.image"
                ng-src="{{webPublisherOutput.getViewImage(webPublisherOutput.selectedArticle.articles[0])}}" style="max-width:100%">
            <div class="side-panel__content-block-text sp-imageMaxWidth-wrapper" ng-bind-html="webPublisherOutput.bodyHtml"></div>
            <!-- <div ng-repeat="item in webPublisherOutput.selectedArticle.extra_items" ng-if="item.type==='media'" sd-gallery data-items="item.items"> -->
            </div>
        </div>
    </div>
</div>
