<div class="sd-collapse-box sd-shadow--z2 sd-collapse-box--lighter sd-collapse-box--margin-small"
    ng-class="{'sd-collapse-box--open' : destination.isOpen}"
    ng-show="webPublisherOutput.publishFilter == 'all' || destination.status == webPublisherOutput.publishFilter">
    <div class="sd-collapse-box__header" ng-click="destination.isOpen = !destination.isOpen">
        <!-- list item  -->
        <div class="sd-list-item">
            <div class="sd-list-item__border"
            ng-class="{'sd-list-item__border--success': !webPublisherOutput.shouldItemMarkedUnpublished(destination), 'sd-list-item__border--locked': webPublisherOutput.shouldItemMarkedUnpublished(destination)}"></div>
            <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                <div class="sd-list-item__row">
                    <span class="sd-overflow-ellipsis sd-list-item--element-grow">
                        <span class="sd-list-item__text-strong">{{destination.tenant.name}}</span>
                    </span>
                    <a class="icn-btn " sd-tooltip="Remove tenant" flow="left"
                        ng-if="destination.status === 'new'"
                        ng-click="webPublisherOutput.publishingRemoveDestination(destination); $event.stopPropagation();">
                            <i class="icon-trash"></i>
                        </a>
                </div>
                <div class="sd-list-item__row">
                    <span ng-if="!webPublisherOutput.shouldItemMarkedUnpublished(destination)" class="sd-overflow-ellipsis label label--success">{{webPublisherOutput.getRouteNameById(destination.route.id, destination.tenant.code)}}</span>
                    <span ng-if="webPublisherOutput.shouldItemMarkedUnpublished(destination)" class="sd-overflow-ellipsis label">unpublished</span>
                    <span class="sd-list-item__inline-text sd-list-item--element-grow no-line-height" ng-if="destination.isPublishedFbia">
                        <i class="icon-facebook icon--blue icon--full-opacity"></i>
                    </span>
                    <span class="sd-list-item__inline-text no-line-height" ng-if="destination.paywallSecured">
                        <i class="icon-paywall icon--full-opacity icon--orange"></i>
                    </span>
                </div>
                <div class="sd-list-item__row" ng-if="destination.contentLists.length">
                    <span class="sd-list-item__text-label">Content lists:</span>
                    <span class="sd-overflow-ellipsis">
                        <span ng-repeat="list in destination.contentLists">
                            {{webPublisherOutput.getContentListName(list, destination.tenant.contentLists)}}<span ng-show="$index !== destination.contentLists.length - 1">, </span>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <!-- END list item  -->
    </div>
    <div class="sd-collapse-box__content-wraper">
        <div class="sd-collapse-box__content sd-collapse-box__content--border-success">
            <div class="sd-collapse-box__tools sd-collapse-box__tools--flex">
                <a class="sd-collapse-box__collapse-btn" href="" ng-click="destination.isOpen = false">
                    <span class="icn-btn"><i class="icon-chevron-up-thin"></i></span>
                </a>
                <a class="icn-btn" sd-tooltip="Remove tenant" flow="left"
                    ng-if="destination.status === 'new'"
                    ng-click="webPublisherOutput.publishingRemoveDestination(destination); $event.stopPropagation();">
                    <i class="icon-trash"></i></a>
            </div>
            <div class="sd-collapse-box__content-block sd-collapse-box__content-block--top">
                <div class="sd-list-item sd-list-item--no-bg sd-list-item--no-hover">
                    <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                        <div class="sd-list-item__row">
                            <span class="sd-overflow-ellipsis sd-list-item__text-strong">{{destination.tenant.name}}</span>
                            <a ng-if="destination.liveUrl && webPublisherOutput.publishedDestinations[destination.tenant.code].route.id === destination.route.id"
                                ng-href="{{destination.liveUrl}}"
                                target="_blank"
                                class="icn-btn" sd-tooltip="Preview" flow="bottom">
                                <i class="icon-external icon--full-opacity icon--white"></i>
                            </a>

                            <a ng-if='destination.route.id && ( !destination.liveUrl || webPublisherOutput.publishedDestinations[destination.tenant.code].route.id !== destination.route.id) && destination.status != "unpublished"'
                                ng-click="webPublisherOutput.openArticlePreview(destination.route.id, destination.tenant)"
                                class="icn-btn" sd-tooltip="Preview" flow="bottom">
                                <i class="icon-external icon--full-opacity icon--white"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row" ng-if="!site.outputChannel">
                <div class="sd-line-input sd-line-input--is-select sd-line-input--dark-ui sd-line-input--no-margin">
                    <label class="sd-line-input__label">Route</label>
                    <div sd-publish-routes data-destination="destination"
                        data-monitoring-contoller="webPublisherOutput"
                    ></div>
                </div>
            </div>
            <div class="form__row" ng-if="destination.tenant.fbiaEnabled">
                <sd-check ng-model="destination.isPublishedFbia"><i class="icon-facebook icon--blue"></i> Publish to facebook</sd-check>
            </div>
            <div class="form__row" ng-if="destination.tenant.paywallEnabled">
                <sd-check ng-model="destination.paywallSecured"><i class="icon-paywall icon--orange"></i> Paywall secured</sd-check>
            </div>

            <label ng-if="destination.contentLists.length" class="form-label">Content lists</label>
            <div ng-if="destination.status !== 'new' && destination.contentLists.length">
                <span class="text--lighter text--italic" ng-repeat="list in destination.contentLists">
                    {{list.name}}<span ng-show="$index !== destination.contentLists.length - 1">, </span>
                </span>
            </div>
            <div ng-if="destination.status === 'new'">
                <div class="sd-list-item sd-list-item--no-hover sd-margin-b--1" ng-repeat="list in destination.contentLists">
                    <div class="sd-list-item__column sd-list-item__column--grow">
                        <div class="sd-list-item__row sd-list-item__row--only-child">
                            <span class="sd-margin-r--1">Choose list</span>
                            <div class="sd-line-input sd-line-input--is-select sd-list-item--element-grow sd-line-input--no-margin">
                                <select class="sd-line-input__select" ng-model="list.id"
                                    ng-options="list.id as list.name for list in destination.tenant.contentLists | filter:{type:'manual'}">
                                </select>
                            </div>
                            <a class="icn-btn disabled" sd-tooltip="Remove list" flow="left" ng-click="destination.contentLists.splice($index, 1)"><i class="icon-trash"></i></a>
                        </div>
                        <div class="sd-list-item__row sd-margin-b--1">
                            <span class="sd-margin-r--1">Set order</span>
                            <div class="sd-line-input sd-line-input--is-select sd-list-item--element-grow sd-line-input--no-margin sd-line-input--no-label sd-margin-r--2">
                                <select class="sd-line-input__select" ng-model="list.position">
                                    <option ng-repeat="n in webPublisherOutput.contentListPositionRange(list.id, destination.tenant.contentLists)" value="{{n}}">{{n + 1}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form__row" ng-if="destination.status === 'new'">
                <button class="btn btn--hollow btn--expanded btn--primary" ng-click="destination.contentLists.push({id: null, position: 0})">Add to content list</button>
            </div>
        </div>
    </div>
</div>