<div class="side-panel side-panel--shadow-right side-panel--dark-ui">
    <div class="side-panel__header">
        <div class="side-panel__tools">
            <a class="icn-btn" ng-click="webPublisherOutput.closePublish()"><i class="icon-close-small"></i></a>
        </div>
        <ul class="nav-tabs nav-tabs--ui-dark">
            <li ng-class="{'nav-tabs__tab--active': !webPublisherOutput.activePublishPane || webPublisherOutput.activePublishPane == 'publish'}" class="nav-tabs__tab nav-tabs__tab--active">
                <button ng-click="webPublisherOutput.activePublishPane = 'publish'" class="nav-tabs__link"><span translate="">Publish</span></button>
            </li>
            <li ng-if="webPublisherOutput.selectedArticle.status !== 'new'"
                ng-class="{'nav-tabs__tab--active':  webPublisherOutput.activePublishPane == 'unpublish'}" class="nav-tabs__tab">
                <button ng-click="webPublisherOutput.activePublishPane = 'unpublish'; webPublisherOutput.metaDataOverlayOpen = false;" class="nav-tabs__link"><span translate="">Unpublish</span></button>
            </li>
        </ul>
    </div>
    <div class="side-panel__content" ng-if="!webPublisherOutput.activePublishPane || webPublisherOutput.activePublishPane == 'publish'">
        <div class="side-panel__content-block side-panel__content-block--pad-small">
            <div class="side-panel__content-block-heading side-panel__content-block-heading--small-margin">
                {{webPublisherOutput.selectedArticle.headline}}
            </div>
        </div>
        <div class="side-panel__content-block side-panel__content-block--flex side-panel__content-block--space-between">
            <div class="dropdown" dropdown="">
                <button class="btn btn--primary btn--icon-only-circle btn--large dropdown__toggle" sd-tooltip="Add destination" flow="right" dropdown__toggle="">
                    <i class="icon-plus-large"></i>
                </button>
                <ul class="dropdown__menu">
                    <li ng-repeat="site in webPublisherOutput.publishingAvailableSites">
                        <button ng-click="webPublisherOutput.publishingAddDestination(site)">{{site.name}}</button>
                    </li>
                </ul>
            </div>
            <div ng-init="webPublisherOutput.publishFilter = 'all'">
                <sd-check ng-model="webPublisherOutput.publishFilter" type="radio" ng-value="all" label-position="inside">All</sd-check>
                <sd-check ng-model="webPublisherOutput.publishFilter" type="radio" ng-value="published" label-position="inside">Published</sd-check>
                <sd-check ng-model="webPublisherOutput.publishFilter" type="radio" ng-value="unpublished" label-position="inside">Unpublished</sd-check>
            </div>
        </div>
        <div class="side-panel__content-block side-panel__content-block--pad-small">
            <div ng-repeat="destination in webPublisherOutput.newDestinations" ng-include="'publish-pane-listitem.html'"></div>
        </div>
        <!-- Related items -->
        <div class="side-panel__content-block">
            <div sd-toggle-box data-title="Related articles" data-open="true" data-style="circle" ng-hide="!webPublisherOutput.relatedArticles.length && !webPublisherOutput.relatedArticlesLoading">
                <div class="sd-loader" ng-if="webPublisherOutput.relatedArticlesLoading"></div>
                <ul class="simple-list simple-list--dotted simple-list--no-padding">
                    <li class="simple-list__item" ng-repeat="article in webPublisherOutput.relatedArticles">
                        <p>{{article.title}}</p>
                        <span ng-repeat="destination in webPublisherOutput.newDestinations" class="label-icon" ng-class="{'label-icon--success': webPublisherOutput._isTenantWithinTenants(destination.tenant.code, article.tenants)}">
                            <i class="icon-globe"></i> {{destination.tenant.name}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="side-panel__content-block-overlay-grid"
        ng-class="{'side-panel__content-block-overlay-grid--open' : webPublisherOutput.metaDataOverlayOpen}"
        ng-if="webPublisherOutput.activePublishPane === 'publish'"
        ng-include="'output/metaDataOverlay.html'">
    </div>
    <!-- UNPUBLISH **************************************************** -->
    <div class="side-panel__content" ng-if="webPublisherOutput.activePublishPane === 'unpublish'">
        <div class="side-panel__content-block side-panel__content-block--pad-small">
            <div class="side-panel__content-block-heading side-panel__content-block-heading--small-margin">
                {{webPublisherOutput.selectedArticle.headline}}
            </div>
        </div>
        <div class="side-panel__content-block">
            <div class="form__row form__row--small-padding">
                <div class="flex-grid flex-grid--boxed-small flex-grid--wrap-items flex-grid--small-1">
                    <button ng-repeat="item in webPublisherOutput.newDestinations"
                        ng-if="item.status == 'published'"
                        ng-click="item.unpublish = !item.unpublish"
                        class="btn__check flex-grid__item"
                        ng-class="{'btn__check--active' : item.unpublish}"
                    >
                        {{item.tenant.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="side-panel__footer side-panel__footer--button-box-large" ng-if="!webPublisherOutput.activePublishPane || webPublisherOutput.activePublishPane === 'publish'">
        <button class="btn btn--large btn--success btn--expanded"
            ng-disabled="webPublisherOutput._isEmpty(webPublisherOutput.newDestinations)"
            ng-click="webPublisherOutput.publishArticle()">Publish</button>
    </div>
    <div class="side-panel__footer side-panel__footer--button-box-large" ng-if="webPublisherOutput.activePublishPane === 'unpublish'">
        <button class="btn btn--large btn--alert btn--expanded"
            ng-disabled="webPublisherOutput._isAnythingToUnpublish()"
            ng-click="webPublisherOutput.unPublishArticle()">Unpublish</button>
    </div>
</div>

<div ng-include="'article-preview.html'" ng-if="webPublisherOutput.openArticlePreviewModal"></div>
