    <div class="subnav subnav--absolute">
    <div class="flat-searchbar monitoring-flat-searchbar" ng-class="{extended: aggregate.monitoringSearch}">
        <div class="search-handler">
            <label for="search-input" class="trigger-icon" ng-click="aggregate.monitoringSearch = !aggregate.monitoringSearch">
                <i class="icon-search"></i>
            </label>
            <input id="search-input" type="text" placeholder="{{ :: 'Search' | translate }}" ng-model="query"
            ng-keyup="aggregate.searchOnEnter($event, query)">
            <button class="search-close" ng-click="aggregate.search(query = null)" ng-class="{visible: query}">
                <i class="icon-remove-sign"></i>
            </button>
            <button class="search-close" ng-click="aggregate.search(query);" ng-class="{visible: query}">
                <i class="svg-icon-right"></i>
            </button>
        </div>
    </div>
    <h3 class="page-nav-title"><span translate>Output Settings</span></h3>
    <div class="subnav__stretch-bar"></div>
    <div class="dropdown navbtn strict" title="{{ :: 'Create' | translate }}" dropdown>
        <button class="dropdown__toggle sd-create-btn" dropdown__toggle></button>

        <ul class="dropdown__menu dropdown__menu--scrollable pull-right">
            <li><div class="dropdown__menu-label" translate>Create new site</div></li>
            <li>
                <button ng-click="webPublisher.toggleSiteWizard()">
                    <i class="icon-plus-sign icon--blue"></i>{{:: 'Superdesk Publisher'| translate}}
                </button>
            </li>
            <li>
                <button ng-click="webPublisher.toggleSiteWizard('Wordpress')">
                    <i class="icon-plus-sign icon--blue"></i>{{:: 'Wordpress'| translate}}
                </button>
            </li>
        </ul>
    </div>
</div>



<section class="paneLayout paneLayout--twoHeadersMargin">
        <a class="btn btn--sd-green btn--icon-only-circle btn--large sd-shadow--z4 absPosition absPosition--topRight" style="z-index:1" ng-click="webPublisher.toggleInfoCarousel()"><i class="icon-info-large"></i></a>
    <div class="paneLayout__content contentPadding">
        <div class="flex-grid flex-grid--boxed flex-grid--wrap-items flex-grid--small-1  flex-grid--medium-2 flex-grid--large-4">
            <div class="flex-grid__item flexColumn"
                ng-repeat="site in sites | orderBy: 'name'"
                ng-include="'tenant.html'">
            </div>
        </div>
        <div class="panel-info" ng-if="!sites.length && !loading">
            <div class="panel-info__icon">
                <i class="big-icon--add-to-list"></i>
            </div>
            <h3 class="panel-info__heading">No tenants so far.</h3>
            <p class="panel-info__description">To create a site click on the plus button to top right.</p>
        </div>
        <div sd-site-wizard data-active="webPublisher.siteWizardActive" data-output-channel-type="webPublisher.siteWizardOutputChannelType" data-manager-controller="webPublisher"></div>
        <div ng-include="'info-carousel.html'"></div>
        <div ng-include="'manage-site.html'" ng-if="webPublisher.openSiteModal"></div>
    </div>
</section>
