.sp-slider {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  margin: 1.5em auto;
  overflow: hidden;
  white-space: nowrap;
}

.sp-slider .slider-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sp-slider .slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.sp-slider .arrow {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.sp-slider .nextArrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 15px;
  z-index: 999;
  color: #fff;
}

.sp-slider .backArrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  left: 15px;
  z-index: 999;
  color: #fff;
}

.sp-slider .fa-arrow-right:before,
.sp-slider .fa-arrow-left:before {
  color: #222;
}
