<div class="sd-loader" ng-if="loading"></div>
<div class="subnav subnav--padded subnav--lower-z-index" ng-init="webPublisherContentLists.listType = ''">
    <sd-check ng-model="webPublisherContentLists.listType" type="radio" ng-value="" label-position="inside">All</sd-check>
    <sd-check ng-model="webPublisherContentLists.listType" type="radio" ng-value="automatic" label-position="inside">Automatic</sd-check>
    <sd-check ng-model="webPublisherContentLists.listType" type="radio" ng-value="manual" label-position="inside">Manual</sd-check>
</div>
<div class="sd-display-flex-column">
    <div class="sd-grid-list sd-grid-list--large">
        <div
            ng-if="list.type !== 'bucket'"
            ng-repeat="list in lists | filter: {type: webPublisherContentLists.listType} | orderBy: 'id'"
            ng-include="'list-box.html'"
            class="sd-display-flex-column overflow-initial"
        ></div>
    </div>
</div>
<div class="panel-info" ng-if="!lists.length">
    <div class="panel-info__icon">
        <i class="big-icon--add-to-list"></i>
    </div>
    <h3 class="panel-info__heading">No Content Lists</h3>
    <p class="panel-info__description">Create the first one...</p>
</div>

<div sd-modal data-model="webPublisherContentLists.settingsModal" class="modal--double">
    <div class="modal__header">
        <a href="" class="close" ng-click="webPublisherContentLists.cancelListCardSettings()"><i class="icon-close-small"></i></a>
        <h3 translate>Settings</h3>
    </div>
    <div class="modal__body">
        <form name="settingsForm">
            <fieldset>
                <div class="field">
                    <label for="listLimit" translate>number of articles limit</label>
                    <input type="number" id="listLimit" class="line-input" ng-model="newList.limit" min="0">
                </div>
                <div class="field">
                    <label for="listCacheLifeTime" translate>cache lifetime</label>
                    <input type="number" id="listCacheLifeTime" class="line-input" ng-model="newList.cacheLifeTime" min="0" required>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal__footer">
        <button class="btn" ng-click="webPublisherContentLists.cancelListCardSettings()" translate>Cancel</button>
        <button class="btn btn--primary" ng-click="webPublisherContentLists.saveList()" ng-disabled="!settingsForm.$valid" translate>Save</button>
    </div>
</div>