<div class="sd-page-grid--basic" doc-modal>
    <header class="sd-top-menu">
        <a href="" class="sd-top-menu__collapse-nav"><i class="icon-collapse icon--white"></i></a>
        <p class="sd-top-menu__header">Publisher</p>
    </header>

    <section class="sd-content sd-page-content--slide-in">
        <div class="sd-sidebar-menu sd-sidebar-menu--second-level sd-page-content__left-tabs" ng-include="'sidebar-content.html'"></div>
        <div class="sd-page-content__content-block"
            ng-class="{'sd-page-content__content-block--double-sidebar': webPublisherContentLists.activeView!='content-lists', 'open-filters': webPublisherContentLists.filterOpen, 'open-preview': webPublisherContentLists.previewOpen,}">
            <div class="subnav">
                <a href="#/publisher/dashboard" class="navbtn navbtn--left" sd-tooltip="Dashboard" flow="right">
                    <i class="icon-arrow-left"></i>
                </a>
                <h3 class="subnav__page-title">Content Lists</h3>
                <div class="dropdown dropdown--align-right" dropdown="" sd-tooltip="Create new list" flow="left">
                    <button class="navbtn dropdown sd-create-btn dropdown-toggle" dropdown__toggle="" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-plus-large"></i>
                        <span class="circle"></span>
                    </button>
                    <ul class="dropdown__menu dropdown--align-right">
                        <li>
                            <div class="dropdown__menu-label">Create new list</div>
                        </li>
                        <li class="dropdown__menu-divider"></li>
                        <li><button ng-click="webPublisherContentLists.createListCard('automatic')">Automatic List</button></li>
                        <li><button ng-click="webPublisherContentLists.createListCard('manual')">Manual List</button></li>
                    </ul>
                </div>
            </div>
            <div class="sd-column-box--3" 
                ng-class="{'content-nav-closed' : closedContentNav}">
                <div class="nav-tabs-vertical" 
                    ng-class="{'nav-tabs-vertical--closed' : !closedContentNav }">
                    <ul class="nav-tabs-vertical__list">
                        <li class="nav-tabs-vertical__tab">
                            <button class="nav-tabs-vertical__link" 
                                ng-click="closedContentNav = !closedContentNav">Website</button>
                        </li>
                    </ul>
                </div>
                <div class="sd-content-navigation-panel sd-content-navigation-panel--border-right">
                    <div class="subnav subnav--padded subnav--lower-z-index">
                        <h3 class="sd-content-nav-title sd-content-nav-title--uppercase">Website</h3>
                        <a class="icn-btn ml-auto" 
                            ng-click="closedContentNav = !closedContentNav" 
                            ng-init="closedContentNav = false">
                            <i class="icon-close-small"></i></a>
                    </div>
                    <nav class="sd-content-nav">
                        <ul>
                            <li ng-repeat="site in webPublisherContentLists.sites">
                                <a href="" class="sd-content-nav__btn"
                                    ng-click="webPublisherContentLists.setTenant(site)"
                                    ng-class="{'sd-content-nav__btn--active' : webPublisherContentLists.selectedTenant.code === site.code}">
                                    {{:: site.name }}</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="sd-column-box__main-column relative sd-display-flex-column"
                    ng-include="'content-lists-list.html'"
                    ng-if="webPublisherContentLists.activeView==='content-lists'"></div>
                <div class="flex-grid flex-grid--grow flex-grid--small-1"
                    ng-include="'content-list-automatic.html'"
                    ng-if="webPublisherContentLists.activeView==='content-list-automatic'"></div>
                <div class="flex-grid flex-grid--grow flex-grid--small-2"
                    ng-include="'content-list-manual.html'"
                    ng-if="webPublisherContentLists.activeView==='content-list-manual'"></div>
                <!-- start preview -->
                <div class="sd-preview-panel"
                    ng-include="'content-lists/preview-pane.html'">
                </div><!-- end preview -->
            </div>
        </div>
    </section>
    <footer class="bottom-bar ">
    </footer>
</div>