<div class="sd-card flexGrow">
    <div class="sd-card__header sd-card__header--padding" ng-class="{'sd-card__header--secondary-color': list.type === 'automatic'}">
        <div class="sd-card__heading"
            ng-if="!webPublisherContentLists._editMode(list, webPublisherContentLists.selectedList, webPublisherContentLists.listAdd)"
            ng-click="webPublisherContentLists.editListCard(list)"
            >{{ list.name }}</div>
        <div class="sd-card__heading"
            ng-if="webPublisherContentLists._editMode(list, webPublisherContentLists.selectedList, webPublisherContentLists.listAdd)">
            <input type="text" ng-model="newList.name" class="line-input line-input--alt" required sd-card-input-focus>
        </div>
        <div ng-if="webPublisherContentLists._editMode(list, webPublisherContentLists.selectedList, webPublisherContentLists.listAdd)"
            class="sd-card__btn-group sd-card__btn-group--right margin--top0">
            <button ng-click="webPublisherContentLists.cancelEditListCard()" class="btn btn--icon-only">
                <i class="icon-close-small"></i>
            </button>
            <button ng-click="webPublisherContentLists.saveList()" class="btn btn--icon-only">
                <i class="icon-ok"></i>
            </button>
        </div>
        <div class="sd-card__actions-group" ng-if="!webPublisherContentLists._editMode(list, webPublisherContentLists.selectedList, webPublisherContentLists.listAdd)">
            <a class="btn btn--small btn--hollow btn--ui-dark"
                ng-click="webPublisherContentLists.openListCriteria(list)">
                Edit
            </a>
            <div class="dropdown" dropdown>
                <button class="dropdown__toggle icn-btn" dropdown__toggle>
                    <i class="icon-dots-vertical"></i>
                </button>
                <ul class="dropdown__menu">
                    <li>
                        <button ng-click="webPublisherContentLists.editListCardSettings(list)" title="{{:: 'Settings'| translate }}">
                            <i class="icon-settings"></i>{{:: 'Settings'| translate}}
                        </button>
                    </li>
                    <li>
                        <button ng-click="webPublisherContentLists.deleteList(list.id)" title="{{:: 'Remove list'| translate }}">
                            <i class="icon-trash"></i>{{:: 'Remove'| translate}}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sd-card__content sd-card__content--scrollable relative">
        <ul class="sd-card__content-list" ng-if="list.visible">
            <div sd-list-articles data-list="list" data-type="card"></div>
        </ul>
    </div>
    <div class="sd-card__footer sd-card__footer--spread">
        <div>
            <span class="sd-text__info">Last modified: </span>
            <span>{{ list.updatedAt | reldate}}</span>
        </div>
        <span class="label label--success label--hollow" ng-show="list.enabled">active</span>
    </div>
</div>