<div class="sd-page__header">
  <h2 class="sd-page__page-heading">Navigation</h2>
  <span class="sd-page__element-grow"></span>
  <a
    href=""
    ng-disabled="webPublisherSettings.menuAdd"
    ng-click="webPublisherSettings.createMenuCard()"
    class="btn btn--primary"
    ><i class="icon-plus-sign"></i>Add new</a
  >
</div>

<div class="sd-page__content">
  <div class="sd-grid-list sd-grid-list--large">
    <div
      class="sd-card"
      ng-repeat="menu in menus | orderBy: 'id' track by menu.id"
    >
      <div data-theme="dark-ui" class="sd-card__header sd-card__header--secondary-color">
        <div
          ng-if="!webPublisherSettings._editMode(menu, webPublisherSettings.selectedMenu, webPublisherSettings.menuAdd)"
          ng-click="webPublisherSettings.editMenuCard(menu)"
          class="sd-card__heading sd-card__heading--editable"
        >
          <div class="sd-card__heading-dummy-input" title="Click to rename" >{{ menu.name }}</div>
        </div>
        <div
          ng-if="webPublisherSettings._editMode(menu, webPublisherSettings.selectedMenu, webPublisherSettings.menuAdd)"
          class="sd-card__heading sd-card__heading--editable"
        >
          <div class="sd-input sd-input--medium sd-input--boxed-style sd-input sd-input--inline-label">
            <input
              type="text"
              ng-model="newMenu.name"
              class="sd-input__input"
              placeholder="Navigation name"
              required
              sd-card-input-focus
            />

          </div>

        </div>
        <div
          ng-if="webPublisherSettings._editMode(menu, webPublisherSettings.selectedMenu, webPublisherSettings.menuAdd)"
          class="button-group button-group--compact button-group--end sd-margin-r--1"
        >
          <button
            ng-click="webPublisherSettings.cancelEditMenuCard()"
            class="icn-btn"
          >
            <i class="icon-close-small"></i>
          </button>
          <button
            ng-click="webPublisherSettings.saveMenu(webPublisherSettings._refreshMenus)"
            class="icn-btn"
          >
            <i class="icon-ok"></i>
          </button>
        </div>
        <div
          ng-if="!webPublisherSettings._editMode(menu, webPublisherSettings.selectedMenu, webPublisherSettings.menuAdd)"
          class="button-group button-group--compact button-group--end sd-margin-r--1"
        >
          <a
            ng-click="webPublisherSettings.editMenuTree(menu)"
            class="icn-btn"
            title="{{:: 'Edit menu'| translate}}"
            ><i class="icon-pencil"></i
          ></a>
          <a
            ng-click="webPublisherSettings.deleteMenu(menu.id)"
            class="icn-btn"
            title="{{:: 'Remove menu'| translate}}"
            ><i class="icon-trash"></i
          ></a>
        </div>
      </div>
      <div class="sd-card__content sd-card__content--scrollable relative">
        <div class="sd-loader" ng-if="loading"></div>
        <ul class="sd-card__content-list">
          <li
            ng-repeat="child in menu.children | orderBy: 'position' track by child.id"
            class="sd-card__content-list-item--small sd-card__content-list-item--border-bottom sd-display--flex sd-flex--items-center"
          >
            <span class="sd-margin-e--auto">
              {{ child.name }}
            </span>
            <span class="badge badge--light">{{ child.children.length }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
