<div ng-if="loading">
    <div class="item-group__loading"></div>
</div>

<div ng-if="!loading && !articles.length" class="alert alert-info alert-block">
    <h4 translate>The list is empty</h4>
    <p translate>Please update filter criteria to add articles to the list.</p>
</div>

<ul ng-if="!loading && articles.length" class="flatList">
    <li ng-repeat="article in articles">

        <div class="sd-list-item sd-shadow--z1" ng-class="{&quot;sd-list-item--activated&quot;:itemActive2}">
            <div class="sd-list-item__border"></div>
            <div class="sd-list-item__column" ng-if="article.duplicate" sd-tooltip="duplicate">
                <i class="icon-warning-sign icon--red"></i>
            </div>
            <div class="sd-list-item__column sd-list-item__column--grow sd-list-item__column--no-border">
                <div class="sd-list-item__row">
                    <span class="sd-overflow-ellipsis">{{ :: article.title || article.content.title}}</span>

                </div>
                <div class="sd-list-item__row">
                    <time class="noPadding">{{article.updatedAt || article.createdAt || article.content.updatedAt || article.content.createdAt | reldate}}</time>
                    <span class="sd-overflow-ellipsis sd-list-item--element-grow"></span>
                    <span class="label label--success label--hollow">{{article.route.name || article.content.route.name}}</span>
                    <span ng-if="article.sticky" class="pull-right state-label state-fetched" translate>pinned</span>
                </div>
            </div>
            <div class="sd-list-item__action-menu">
                <button class="pull-right" ng-if="article.sticky" ng-click="pinArticle(article)" title="{{:: 'Unpin' | translate }}"><i class="icon-pin"></i></button>
                <button class="hidden pull-right" ng-if="!article.sticky" ng-click="pinArticle(article)" title="{{:: 'Pin' | translate }}"><i class="icon-pin"></i></button>
            </div>
        </div>
    </li>
</ul>
